<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RedirectFilter</filter-name>
        <filter-class>edu.pitt.utilities.RedirectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RedirectFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RedirectFilter</filter-name>
        <url-pattern>/process/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RedirectFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>processResume</servlet-name>
        <servlet-class>edu.pitt.servlets.processResume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resumews</servlet-name>
        <servlet-class>edu.pitt.rest.resumews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processAddUser</servlet-name>
        <servlet-class>edu.pitt.servlets.processAddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processEditUser</servlet-name>
        <servlet-class>edu.pitt.servlets.processEditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processEducation</servlet-name>
        <servlet-class>edu.pitt.servlets.processEducation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processPersonalInfo</servlet-name>
        <servlet-class>edu.pitt.servlets.processPersonalInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processWorkExperience</servlet-name>
        <servlet-class>edu.pitt.servlets.processWorkExperience</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchws</servlet-name>
        <servlet-class>edu.pitt.rest.searchws</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userInfows</servlet-name>
        <servlet-class>edu.pitt.rest.userInfows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlistloginws</servlet-name>
        <servlet-class>edu.pitt.rest.userlistloginws</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlistws</servlet-name>
        <servlet-class>edu.pitt.rest.userlistws</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userws</servlet-name>
        <servlet-class>edu.pitt.rest.userws</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewEditUser</servlet-name>
        <servlet-class>edu.pitt.rest.viewEditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resumews</servlet-name>
        <url-pattern>/rest/resumews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processResume</servlet-name>
        <url-pattern>/process/processResume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processAddUser</servlet-name>
        <url-pattern>/process/processAddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processEditUser</servlet-name>
        <url-pattern>/process/processEditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processEducation</servlet-name>
        <url-pattern>/process/processEducation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processPersonalInfo</servlet-name>
        <url-pattern>/process/processPersonalInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processWorkExperience</servlet-name>
        <url-pattern>/process/processWorkExperience</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchws</servlet-name>
        <url-pattern>/rest/searchws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userInfows</servlet-name>
        <url-pattern>/rest/userInfows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlistloginws</servlet-name>
        <url-pattern>/rest/userlistloginws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlistws</servlet-name>
        <url-pattern>/rest/userlistws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userws</servlet-name>
        <url-pattern>/rest/userws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewEditUser</servlet-name>
        <url-pattern>/rest/viewEditUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
